<div class="center hero-unit">
	 <h1> Тестовое приложение</h1>

	 <h2> Это главная страница для
	 	<a href="http://">RoR Урок</a>
	 	пример приложения.
	 </h2>

	 <%= link_to "Зарегистрироваться", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://ror.org' %>
